header #logo a img {
 width:auto
}
#page, .fluid_container { max-width: 978px;}
footer .socialBox ul li a {
    font-size: 12px;
}
.banner > div {
    max-width: 326px;
}
.banner .s-desc div {
    padding: 0 15px 0 125px;
}
.banner .s-desc h1 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 0px;
    text-transform: none;
}
.banner .s-desc h1 span {
    display: block;
    font-size: 30px;
    line-height: 36px;
    margin-top: -6px;
    text-transform: uppercase;
}
.banner .s-desc p {
    color: #303030;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 12px;
}