/********************************************************************************************************************************************************************************/
/* menu */
#menu {
	background:#fff;
	border-bottom:1px solid #e6e6e6;
	}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;

}
#menu div div div > ul > li:first-child {padding-left:0;}
#menu div div div > ul > li {
	float: left;
	z-index: 10;
	position:relative;
	border-radius:0;
	padding:19px 10px;
}
#menu div div div> ul > li > a {
	display:inline-block;
	z-index: 1;
	position: relative;
	font-size:17px;
	font-weight:bold;
	color:#323232;
	text-decoration:none;
	line-height:20px;
	font-weight:600;
}
#menu div div div> ul > li>a:hover, #menu div div div > ul > li.sfHover>a, #menu div div div > ul > li.active>a  {
	color:#ff6f28
	}
#menu div div div> ul > li  ul {
	display: none;
	position: absolute; 
	z-index: 99;
	background:#303030; 
	border-top:0;
	left:0px;
	top:62px;
	width:193px;
	margin:0 !important;
	}
#menu span.sf-sub-indicator {position:relative; }
#menu span.sf-sub-indicator:after {
	content:'\f107';
	background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    display: inline;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
	line-height:0px;
    height: auto;
    margin-top: 0;
    text-decoration: inherit;
    vertical-align: middle;
    width:1.45em;
	padding-left:3px;
	font-size:21px;
	color:#6c6c6c;
	}
#menu ul li li span.sf-sub-indicator { float:right;} 
#menu ul li li span.sf-sub-indicator:after {
	content:'\f105';
	font-size:18px;
	}
#menu div div div> ul > li:hover > div {
	display: table;
}
#menu div div div> ul > li ul + ul {
	padding-left: 0px;
	min-height:162px;
}
#menu div div div> ul > li ul > li > a:hover, #menu div div div> ul > li ul > li.active > a, #menu div div div> ul > li ul > li.sfHover > a {
	color:#fff;
	}
#menu div div div> ul > li > ul  li:first-child {border-top:0px;}
#menu div div div> ul > li > ul  li { 
	position:relative;
	padding:6px 19px 7px;
	border-top:1px solid #454545;
	}
#menu div div div> ul > li > ul > li  a {
	text-decoration:none;
	color: #8a8a8a;
	font-size:15px;
	text-transform:none;
	line-height:18px;
	text-align:left;

}
#menu div div div ul > li ul ul  { 
	position:absolute;
	left:193px;
	top:0
	}

#menu div div div ul > ul > li ul li a:hover, #menu > ul > li > ul > li a.active { 
	color:#37a229; 
	}
/*****************************************************/
#menu-icon {
    background: #277789;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    padding:10px 17px;
    text-transform: uppercase;
	position:relative;
	border-bottom:1px solid #124c59;
}
#menu-icon:after {
	float:right;
	content:"\f107";
	background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    display: inline;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    height: auto;
    line-height: normal;
    margin-top: 0;
    text-decoration: inherit;
    vertical-align: baseline;
    width: auto;
	display: inline-block;
    text-decoration: inherit;
	 text-align: center;
    width: 1.25em;
	font-size:26px;
	color:#fff;
	vertical-align:middle;
	}
#menu-icon.active:after {
	content:"\f106";
	}
.sf-menu-phone {display:none;}
.sf-menu-phone li { 
	position: relative;
	
	background-color:#277789;
	}
  .sf-menu-phone li a { display: inline-block;  color: #fff;  border-bottom:1px solid #124c59;}
  .sf-menu-phone  li {   font-size: 19px; font-weight: bold; padding: 0; }
  .sf-menu-phone  li > a {padding: 10px 15px; display: block;}
  .sf-menu-phone  li li  a {padding: 10px 15px 10px 25px; display: block; font-weight:600;}
  .sf-menu-phone  li li li a {padding: 10px 15px 10px 35px; display: block;}
  .sf-menu-phone li a:hover { color: #B90100; }
  .sf-menu-phone li li {font-size: 14px;}
  .sf-menu-phone li li.last { padding-bottom: 0 !important;  }
  .sf-menu-phone li i {
    position: absolute;
    display: block;
    top: 2px;
    right: 0;
    height: 24px;
    width: 24px;
  }
  .sf-menu-phone  li  i {top: 8px;color:#FFFFFF; font-size:21px; padding:0 20px; right:5px}
  .sf-menu-phone  li i.icon-angle-up:before {content:'\f106' !important}
  .sf-menu-phone li i:hover { cursor: pointer; }
  .sf-menu-phone li i.opened { background-position: center 7px; }

  /** dropdown **/
  .sf-menu-phone ul {  width: auto;  padding: 0px 0px;  display: none;  }
  .sf-menu-phone  li.active > a > span {color: inherit;}
  .sf-menu-phone  li.active > a,
  .sf-menu-phone  li:hover > a { color: #fff; background: #bb8804; }

  .sf-menu-phone li li.active > a,
  .sf-menu-phone li li a:hover {color: #FFF;}


































