<configuration>
<system.webServer>
<rewrite> 
    <rules>
         <rule name="Main Rule" stopProcessing="true">
             <match url="^([^?]*)" />
             <conditions logicalGrouping="MatchAll">
                 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                 <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
             </conditions>
             <action type="Rewrite" url="index.php?_route_={R:1}" appendQueryString="true" />
         </rule>
     </rules>
 </rewrite>
</system.webServer>
</configuration>